<div class="container">
  <h1>Asignar trabajadores:</h1>
  <h4>Solicitud <%= @request.id%></h4>
  <div id="add-employees">
    <%= render "/tasks/admin_views/employee_list", task: @task, request: @request, list_type: "add" %>
  </div>
  
  <br>

  <div>
    <%= link_to "Volver a las solicitudes", requests_path %>
  </div>
</div>

