<div class="container">
  <h1>Asignar trabajadores:</h1>
  <h4>Solicitud <%= @request.id%></h4>

  <%= render "employees", task: @task, request: @request %>

  <br>

  <div>
    <%= link_to "Back to tasks", tasks_path %>
  </div>
</div>

