<h1>Crear solicitud</h1>

<%= render "form", request: @request, dictionary: @dictionary %>

<br>

<div>
  <%= link_to "Back to requests", requests_path %>
</div>

<% javascript_include_tag "requestForm" %>