<p style="color: green"><%= notice %></p>

<div data-controller="table-filter" data-table-filter-url="<%= request_filter_path %>">
  <div class="form-group" id="filters">
    <h4>Filtros</h4>
    <input name="filter" value="denied" type="checkbox" data-action="table-filter#change" />Rechazadas

    <input name="filter" value="pending" type="checkbox" data-action="table-filter#change" />Pendientes

    <input name="filter" value="finished" type="checkbox" data-action="table-filter#change" />Finalizadas

    <input name="filter" value="outsourcing" type="checkbox" data-action="table-filter#change" />Contratación Externa
    <br><br>
    Desde: <input id="date_start" type="date" data-action="table-filter#dateSelect">
    Hasta: <input id="date_end" type="date" data-action="table-filter#dateSelect">
  </div>

  <div id="requests" class="request-table">
    <div class="row">
      <div class="col-9" data-table-filter-target="elements">  
        <%= render partial: 'report_list', locals: { requests: @requests} %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Regresar a solicitudes", requests_path %>
