

<div class= "display-group">
    <div class="grid-container">
        <div class="grid-item">
            <h3> Bienvenido a Page Name: </h3>
        </div>
        <div class="grid-item"> 
            <button class="action-button">
                <%= link_to 'Realizar una solicitud', new_request_path %>
            </button>
            <br>
            <br>
            <button class="action-button">
                <%= link_to 'Ver estado de una solicitud', "#" %>
            </button>
        </div>
    </div>
</div>