<div class="container" id="home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenido a Page Name</h1>
        <p class="lead">Info1.</p>
        <hr class="my-4">
        <p>Info2.</p>
    </div>
</div>