<div id="<%= dom_id feedback %>">
  <p>
    <strong>Observationes:</strong>
    <%= feedback.observations %>
  </p>

  <p>
    <strong>Nivel de Satisfacción:</strong>
    <%= feedback.satisfaction %>
  </p>

</div>
