<h1>Nuevo feedback</h1>


<p>
  <strong>Estado de la solicitud:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Dirección email del solicitante:</strong>
  <%= @request.requester_mail %>
</p>


<%= render "form", feedback: @feedback %>

<br>

<div>
  <%= link_to "Regresar a feedbacks", feedbacks_path %>
</div>


