.student-info {
    display: none;
}

.form-group {
    margin: 20px;
    padding: 10px;
    border: 1px solid rgba(164, 212, 240, 0.658);
    background-color: lightblue;
}

.grid-container {
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
}

.other-selected {
    display: none;
}
